<main
  class="relative w-3/4 m-auto h-dvh flex flex-col justify-center"
>
  <h1 class="font-extralight text-5xl drop-shadow-md">
    VISITOR COUNTER <span class="font-medium text-5xl">API_</span>
  </h1>
  <div class="space-y-5 py-8 drop-shadow-md">
    <div>
      <p class="text-white text-sm font-thin">Register fast.</p>
      <p class="text-white text-sm font-thin">Use for free.</p>
    </div>
    <div>
      <p class="text-white text-sm font-thin">Post visitors.</p>
      <p class="text-white text-sm font-thin">Get statistics.</p>
    </div>
  </div>
  <button class="bg-[#1D2034] text-sm text-white font-thin py-4 px-20 w-fit" (click)='login()'>
    Get started
  </button>
</main>


