<div class="lg:inline hidden">
    <div class="flex flex-row justify-end flex-wrap gap-x-3 gap-y-2 transition-all ease-in-out">
        <button class="w-20 px-2 md:px-4 drop-shadow-md transition-all rounded-sm border-2 font-extralight hover:font-semibold text-xs bg-slate-800 text-white border-white hover:bg-slate-50 hover:text-slate-950" (click)="guideEmit()">
            <span *ngIf="!showGuide">API</span>
            <span *ngIf="showGuide">Stats</span>
        </button>
        <button  *ngIf="domainData!=null" class="drop-shadow-2xl py-2 px-2 md:px-4 flex flex-row items-end gap-x-1 md:gap-x-2  transition-all rounded-sm border-b-2 border-b-black text-black font-extralight text-xs hover:drop-shadow-white hover:border-b-white" [ngClass]="{'bg-[#49ff85]': domainData[0].domainStatus, 'bg-[#ff6565]': !domainData[0].domainStatus}" (click)="switchDomainStatus()">
            COUNTER
            <svg *ngIf="domainData[0].domainStatus" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
              <svg *ngIf="!domainData[0].domainStatus" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
              </svg>
        </button>
        <button  *ngIf="domainData!=null" class="drop-shadow-2xl py-2 px-2 md:px-4 flex flex-row items-end gap-x-1 md:gap-x-2  transition-all rounded-sm border-b-2 border-b-black text-black font-extralight text-xs hover:drop-shadow-white hover:border-b-white" [ngClass]="{'bg-[#49ff85]': domainData[1].keyStatus, 'bg-[#ff6565]': !domainData[1].keyStatus}" (click)="switchKeyStatus()">
            API KEY
            <svg *ngIf="domainData[1].keyStatus" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
            </svg>
            <svg *ngIf="!domainData[1].keyStatus" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-open size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
                <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                <path d="M8 11v-5a4 4 0 0 1 8 0" />
            </svg>
        </button>
        <button  *ngIf="!domainData" class="drop-shadow-2xl py-2 px-2 md:px-4 flex flex-row items-end gap-x-1 md:gap-x-2  transition-all rounded-sm border-b-2 border-b-black text-black font-extralight text-xs hover:drop-shadow-white hover:border-b-white bg-slate-100 animate-pulse">
            COUNTER
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise    animate-spin size-4 stroke-black " width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5" />
            </svg>
        </button>
        <button  *ngIf="!domainData" class="drop-shadow-2xl py-2 px-2 md:px-4 flex flex-row items-end gap-x-1 md:gap-x-2  transition-all rounded-sm border-b-2 border-b-black text-black font-extralight text-xs hover:drop-shadow-white hover:border-b-white bg-slate-100 animate-pulse">
            API KEY
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise animate-spin size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5" />
            </svg>
        </button>
        <button class="p-2 drop-shadow-md transition-all rounded-sm border-b-2 border-b-black text-black bg-sky-300 hover:bg-sky-100 font-extralight text-xs hover:border-b-white" (click)="resetDomainStats()">Reset stats.</button>
        <button class="p-2 drop-shadow-md transition-all rounded-sm border-b-2 border-b-black text-white bg-red-800 hover:bg-red-600 font-extralight text-xs hover:border-b-white" (click)="deleteDomain()">Delete domain.</button>
    </div>
    
</div>
<div class="inline lg:hidden">
    <div class="flex flex-row justify-end items-start gap-x-3">
        <button class="w-20 px-4 py-1 md:px-4 drop-shadow-md transition-all rounded-sm border-2 font-extralight active:font-semibold text-xs bg-slate-800 text-white border-white active:bg-slate-50 active:text-slate-950" (click)="guideEmit()">
            <span *ngIf="!showGuide">API</span>
            <span *ngIf="showGuide">Stats</span>
        </button>
        <button class="w-min z-[201]" (click)="buttons=!buttons">
            <svg [ngClass]="{'rotate-90' : buttons}" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings size-7 transition-all" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
            </svg>
        </button>
    </div>
    <div class="hidden z-[200] absolute top-12 left-0 w-full h-0 opacity-0 flex-col overflow-hidden bg-slate-950 bg-opacity-40 backdrop-blur-lg gap-y-3 transition-all px-5 pt-10" [ngClass]="{'!flex !h-full opacity-100' : buttons}">
        <button  *ngIf="domainData!=null" class="drop-shadow-2xl py-2 px-2 md:px-4 flex flex-row justify-center items-end gap-x-1 md:gap-x-2  transition-all rounded-sm border-b-2 border-b-black text-black font-extralight text-xs  active:drop-shadow-white  active:border-b-white" [ngClass]="{'bg-[#49ff85]': domainData[0].domainStatus, 'bg-[#ff6565]': !domainData[0].domainStatus}" (click)="switchDomainStatus()">
            COUNTER
            <svg *ngIf="domainData[0].domainStatus" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
                </svg>
                <svg *ngIf="!domainData[0].domainStatus" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
                </svg>
        </button>
        <button  *ngIf="domainData!=null" class="drop-shadow-2xl py-2 px-2 md:px-4 flex flex-row justify-center items-end gap-x-1 md:gap-x-2 transition-all rounded-sm border-b-2 border-b-black text-black font-extralight text-xs  active:drop-shadow-white  active:border-b-white" [ngClass]="{'bg-[#49ff85]': domainData[1].keyStatus, 'bg-[#ff6565]': !domainData[1].keyStatus}" (click)="switchKeyStatus()">
            API KEY
            <svg *ngIf="domainData[1].keyStatus" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z" />
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
                <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
            </svg>
            <svg *ngIf="!domainData[1].keyStatus" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-open size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
                <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                <path d="M8 11v-5a4 4 0 0 1 8 0" />
            </svg>
        </button>
        <button  *ngIf="!domainData" class="drop-shadow-2xl py-2 px-2 md:px-4 flex flex-row items-end gap-x-1 md:gap-x-2 placeholder:transition-all rounded-sm border-b-2 border-b-black text-black font-extralight text-xs  active:drop-shadow-white  active:border-b-white bg-slate-100 animate-pulse">
            COUNTER
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise    animate-spin size-4 stroke-black " width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5" />
            </svg>
        </button>
        <button  *ngIf="!domainData" class="drop-shadow-2xl py-2 px-2 md:px-4 flex flex-row items-end gap-x-1 md:gap-x-2 transition-all rounded-sm border-b-2 border-b-black text-black font-extralight text-xs  active:drop-shadow-white  active:border-b-white bg-slate-100 animate-pulse">
            API KEY
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rotate-clockwise animate-spin size-4 stroke-black" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5" />
            </svg>
        </button>
        <button class="p-2 drop-shadow-md transition-all rounded-sm border-b-2 border-b-black text-black bg-sky-300  active:bg-sky-100 font-extralight text-xs  active:border-b-white" (click)="resetDomainStats()">Reset stats.</button>
        <button class="p-2 drop-shadow-md transition-all rounded-sm border-b-2 border-b-black text-white bg-red-800  active:bg-red-600 font-extralight text-xs  active:border-b-white" (click)="deleteDomain()">Delete domain.</button>
    </div>
</div>