<form [formGroup]="domainGroup" class="flex flex-col w-full my-5">
  <input
    type="text"
    autocomplete="off"
    name="domainName"
    placeholder="Domain name"
    formControlName="domainName"
    [ngClass]="{ 'bg-rose-950': !getField('domainName') }"
    (input)="enableSubmit()"
    class="bg-[#242131] text-slate-200 placeholder-[#9F9F9F] drop-shadow-xl font-thin leading-none border-b border-b-black px-3 py-2 focus-visible:outline-none"
  />
  <span
    [ngClass]="{ '!text-orange-300': !getField('domainName') }"
    class="text-green-400 text-xs font-medium leading-none mb-4 mt-1 pl-1"
    >The domain name must be only letters. Min length 4 Max lenght 60</span
  >

  <input
    type="text"
    autocomplete="off"
    placeholder="https://domainWebsite.com/"
    formControlName="domainWebsite"
    [ngClass]="{ 'bg-rose-950': !getField('domainWebsite') }"
    class="bg-[#242131] text-slate-200 placeholder-[#9F9F9F] drop-shadow-xl font-thin leading-none border-b border-b-black px-3 py-2 focus-visible:outline-none"
  />
  <span
    [ngClass]="{ 'text-orange-300': !getField('domainWebsite') }"
    class="text-green-400 text-xs font-medium leading-none mb-4 mt-1 pl-1"
    >Website for tracking counter hits. This is optional</span
  >
  <div class="flex flex-row items-center">
    <div class="pr-4">
      <label class="switch" for="checkbox">
        <input type="checkbox" id="checkbox" formControlName="keyStatus" />
        <div class="slider round"></div>
      </label>
    </div>
    <span class="text-white text-md font-thin"
      >PROTECT WITH API KEY
      <span class="font-thin text-xs">(or activate later)</span></span
    >
  </div>
  <button
    [disabled]="domainGroup.invalid || loading || awaitChanges"
    [ngClass]="{
      'hover:border-gray-700 hover:!bg-opacity-100 !bg-opacity-30 drop-shadow-[0_0_1px_#374D9A] ': !domainGroup.invalid,
      'bg-blue-300 !bg-opacity-100 text-black': loading,
    }"
    class="relative px-20 py-2 mx-auto rounded-sm bg-[#374D9A] bg-opacity-10 border border-[#374D9A] text-white font-thin transition-all duration-1000"
    (click)="createDomain()"
  >
    <span class="transition-all" >{{!loading ? "Ready" : 'Creating'}}</span>
    <span [ngClass]="{'animate-bounce ease-out' : loading}" class="inline-block font-bold text-black">_</span>
    <span [ngClass]="{'animate-pulse duration-75 opacity-100' : loading}" class="opacity-0 absolute w-full h-full bg-none left-0 top-0 -z-10 shadow-[0_0_10px_white] shadow-white"></span>
  </button>
</form>
