<div class="relative flex flex-row justify-stretch h-64 overflow-y-auto mt-2">
  <table
    class="sticky top-0 w-min h-full bg-neutral-950 text-white text-xs font-thin text-center rounded-sm mr-2"
  >
    <tbody>
      <td class="px-10 border-r-[1px] border-white h-48">
        <tr class="cursor-pointer" (click)="unfilterDates()">All</tr>
        <tr *ngFor="let date of getDates()">
          <p (click)="getListByDate(date)" style="cursor: pointer">{{ date }}</p>
        </tr>
      </td>
    </tbody>
  </table>
  <table
    class="relative  grow bg-neutral-950 text-white text-xs font-thin text-center rounded-sm border-r border-neutral-950 overflow-y-auto"
  >
    <thead class="sticky top-0 bg-gray-400 text-black border-b border-b-white">
      <tr *ngIf="visitors[0].visitorId!=null">
        <th class="transition-all hover:cursor-pointer hover:bg-slate-950 hover:text-white" (click)="orderBy('visitorIp')">Ip</th>
        <th class="transition-all hover:cursor-pointer hover:bg-slate-950 hover:text-white" (click)="orderBy('visitorUbication')">Ubication</th>
        <th class="transition-all hover:cursor-pointer hover:bg-slate-950 hover:text-white" (click)="orderBy('dispositive')">Agent</th>
        <th class="transition-all hover:cursor-pointer hover:bg-slate-950 hover:text-white" (click)="orderBy('visitorDate')">Date</th>
      </tr>
    </thead>
    <tbody class="h-32">
      <tr
        *ngFor="let visit of filteredDates"
        class="border-b border-gray-600 py-1 z-10"
      >
        <td>{{ visit.visitorIp }}</td>
        <td>{{ visit.visitorUbication }}</td>
        <td>{{ visit.visitorDispositive }}</td>
        <td>{{ visit.visitorDate }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="visitors[0].visitorId===null">
      <tr>
        No hits registered
      </tr>
    </tbody>
  </table>
</div>
