<div class="relative flex flex-col items-stretch h-64 overflow-y-auto">

  <select [(ngModel)]="selectedOption" name="Dates" id="" class="w-60" (change)="getListByDate(selectedOption)" >
    <option>All dates</option>
    <option *ngFor="let date of getDates().reverse()" [value]="date">{{date}}</option>
  </select>
  <table
    class="relative  grow bg-neutral-950 text-white text-xs font-thin text-center rounded-sm border-r border-neutral-950 overflow-y-auto"
  >
    <thead class="sticky top-0 bg-gray-400 text-black border-b border-b-white">
      <tr *ngIf="visitors[0].visitorId!=null">
        <th class="transition-all hover:cursor-pointer hover:bg-slate-950 hover:text-white" (click)="orderBy('visitorIp')">Ip</th>
        <th class="transition-all hover:cursor-pointer hover:bg-slate-950 hover:text-white" (click)="orderBy('visitorUbication')">Ubication</th>
        <th class="transition-all hover:cursor-pointer hover:bg-slate-950 hover:text-white" (click)="orderBy('dispositive')">Agent</th>
        <th class="transition-all hover:cursor-pointer hover:bg-slate-950 hover:text-white" (click)="orderBy('visitorDate')">Date</th>
      </tr>
    </thead>
    <tbody class="h-32">
      <tr
        *ngFor="let visit of filteredDates"
        class="border-b border-gray-600 py-1 z-10"
      >
        <td class="text-xs">{{ visit.visitorIp }}</td>
        <td class="text-xs">{{ visit.visitorUbication }}</td>
        <td class="text-xs">{{ visit.visitorDispositive }}</td>
        <td class="text-xs">{{ visit.visitorDate }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="visitors[0].visitorId===null">
      <tr>
        No hits registered
      </tr>
    </tbody>
  </table>
</div>
