<div
  class="w-56 h-full flex flex-col justify-between bg-[#0D0D0D] bg-opacity-25 rounded-sm"
>
  <div class="bg-[#272727]">
    <p class="text-center text-white text-xs py-3 font-thin">My portfolio</p>
  </div>
  <div class="space-y-8 px-2">
    <div class="bg-[#242131] border-b border-b-black">
      <p class="font-thin text-center text-white text-xs py-1">
        https://website.com
      </p>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-row justify-between">
        <p class="text-white font-thin">24</p>
        <p class="text-white font-thin">Total hits</p>
      </div>
      <div class="flex flex-row justify-between">
        <p class="text-white font-thin">24</p>
        <p class="text-white font-thin">Total hits</p>
      </div>
      <div class="flex flex-row justify-between">
        <p class="text-white font-thin">24</p>
        <p class="text-white font-thin">Total hits</p>
      </div>
      <div class="flex flex-row justify-between">
        <p class="text-white font-thin">24</p>
        <p class="text-white font-thin">Total hits</p>
      </div>
    </div>

    <button class="bg-[#242131] text-white px-4 font-thin py-2 text-xs">More stats!</button>
  </div>
  <div class="bg-red-500 w-full">
    <p class="text-center py-1">borrar</p>
  </div>
</div>
