<div class="flex flex-row bg-slate-400 bg-opacity-15 fadeIn p-2 rounded-lg shadow-lg">
    <div class="flex items-center bg-gradient-to-r from-blue-950 to-slate-950 text-white p-4 rounded-lg shadow-md">
      <span class="text-xl font-bold">{{ domain.totalhits || 0 }}</span>
      <span class="ml-2 text-md">🎯</span>
    </div>

  <div class="flex flex-col grow ml-2 border-black border rounded-lg bg-sky-950 bg-opacity-30 overflow-hidden">
    <button class="relative bg-sky-950 flex flex-row justify-center items-center p-3 rounded-t-lg transition-all hover:bg-blue-900" (click)="goToDomain()">
      <p class="font-light text-xs text-slate-300 leading-none text-ellipsis">{{ domain.domainName }}</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-chevron-right size-5 absolute right-4 text-white">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 6l6 6l-6 6" />
      </svg>
    </button>

    <div class="flex flex-row divide-x divide-gray-700">
      <button class="py-2 flex-1 flex flex-row justify-center items-center text-slate-200 text-opacity-90 hover:text-slate-100 transition-all hover:bg-sky-800 hover:bg-opacity-50" (click)="clipboard('https://vcaserver.onrender.com/hit/'+domain.domainId+'/'+domain.statId, 'Counter endpoint copied!')">
        <span class="font-extralight text-xs mr-2">COPY ENDPOINT</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy size-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
          <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
        </svg>
      </button>
      <button class="py-2 flex-1 flex flex-row justify-center items-center text-slate-200 text-opacity-90 hover:text-slate-100 transition-all hover:bg-sky-800 hover:bg-opacity-50" (click)="clipboard(domain.keycode, 'API KEY copied!')">
        <span class="font-extralight text-xs mr-2">COPY KEY</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy size-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
          <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
        </svg>
      </button>
    </div>
  </div>
</div>
