<app-vca-title></app-vca-title>
<main class=" w-full h-[90%] flex flex-col items-center justify-start transition-all pb-10 overflow-hidden">
  <div class="w-full xl:w-3/4 px-2 flex flex-row flex-wrap justify-between items-start mb-2 gap-y-2 mt-4 relative">
    <div class="flex flex-row flex-wrap items-center gap-x-3 gap-y-2">
      <app-navigation-button class="mr-4" link="/dashboard" title="Back" *ngIf="!showGuide"></app-navigation-button>
      <app-navigation-button class="mr-4" title='Back' *ngIf="showGuide" (click)="showGuide=false"></app-navigation-button>
      
    </div>
    <app-config-options  [domainData]='config' [showGuide]="showGuide" (resetData)="resetData()" (goGuide)="redirectGuide()"></app-config-options>
  </div>
  <span class="text-left font-light text-xs sm:text-md md:text-base text-white py-2">{{domainData ? domainData.domain.domainName : ''}}</span>
  <div class="h-full w-full relative flex flex-col items-center px-2 xl:w-3/4 overflow-y-auto">
    <div class="w-full transition-all duration-500 overflow-y-auto overflow-x-hidden z-30" [ngClass]="{'hide':showGuide, '-z-20':!showGuide}">
      <div class="w-full bg-slate-300 rounded-sm" [ngClass]="{'animate-pulse':!domainData}">
        <div class="flex flex-wrap flex-row justify-center py-2 gap-y-2 drop-shadow-md">
          <div class="flex grow justify-between w-full max-w-80 bg-[#2C2F48] p-2 rounded-sm" >
            <span class="text-white font-thin text-xs flex flex-row justify-between" [ngClass]="{'opacity-0' : !domainData}" >
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-3-3v6m0 6V9m3 6H9"></path>
                </svg>
                Total Hits
            </span>
            <span class="text-white font-semibold text-sm" [ngClass]="{'opacity-0' : !domainData}">{{domainData ? domainData.domainstats.totalHits : 0}}</span>
          </div>
          <div class="flex grow justify-between w-full max-w-80 bg-[#1F223B] p-2 rounded-sm" >
            <span class="text-white font-thin text-xs flex flex-row justify-between" [ngClass]="{'opacity-0' : !domainData}" >
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.586 4.586a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414L9 10M5 10l4.586-4.586a1 1 0 011.414 0l5 5a1 1 0 010 1.414L15 10M21 21h-6M9 3h6M3 21h6"></path>
                </svg>
                Different Visitors
            </span>
            <span class="text-white font-semibold text-sm" [ngClass]="{'opacity-0' : !domainData}">{{domainData ? domainData.domainstats.differentVisitors : 0}}</span>
          </div>
          <div class="flex grow justify-between w-full max-w-80 bg-[#2C2F48] p-2 rounded-sm" >
            <span class="text-white font-thin text-xs flex flex-row justify-between" [ngClass]="{'opacity-0' : !domainData}" >
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2H3V4zM3 8h18v12a1 1 0 01-1 1H4a1 1 0 01-1-1V8zm3 4h12"></path>
                </svg>
                Last Week Hits
            </span>
            <span class="text-white font-semibold text-sm" [ngClass]="{'opacity-0' : !domainData}">{{lastWeekVisitors || 0}}</span>
          </div>
          <div class="flex grow justify-between w-full max-w-80 bg-[#1F223B] p-2 rounded-sm" >
            <span class="text-white font-thin text-xs flex flex-row justify-between" [ngClass]="{'opacity-0' : !domainData}" >
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3"></path>
                </svg>
                Last Hit
            </span>
            <span class="text-white font-semibold text-sm" [ngClass]="{'opacity-0' : !domainData}">{{lastHit || 'Loading.'}}</span>
          </div>
          <div class="flex grow justify-between w-full max-w-80 bg-[#2C2F48] p-2 rounded-sm" >
            <span class="text-white font-thin text-xs flex flex-row justify-between" [ngClass]="{'opacity-0' : !domainData}" >
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5 5L21 5"></path>
                </svg>
                Majority Visitors
            </span>
            <span class="text-white font-semibold text-sm" [ngClass]="{'opacity-0' : !domainData}">{{majority || 'Loading.'}}</span>
          </div>
          <div class="flex grow justify-between w-full max-w-80 bg-[#1F223B] p-2 rounded-sm">
            <span class="text-white font-thin text-xs flex flex-row justify-between" [ngClass]="{'opacity-0' : !domainData}">
                <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Best Fan
            </span>
            <span class="text-white font-semibold text-sm" [ngClass]="{'opacity-0' : !domainData}">{{fan || 'Loading.'}}</span>
          </div>
        </div>
        <span class="h-px w-3/4 mx-auto bg-slate-950 bg-opacity-30 drop-shadow-lg flex mt-4"></span>
        <app-chart-view [hitData]="domainData"></app-chart-view>
      </div>
      <div class="w-full h-64 mt-2" [ngClass]="{'bg-black animate-pulse':!domainData}">
        <app-ip-list [visitors]="domainData.domainvisitors" *ngIf="domainData"></app-ip-list>
      </div>
    </div>
    <app-guide-page [domainData]="config" [ngClass]="{'hide':!showGuide, 'fade-out':showGuide}" class="absolute h-full w-full opacity-0 z-30 px-2 overflow-y-auto transition-all duration-500"></app-guide-page>
  </div>
</main>