<main class="relative w-full h-dvh flex flex-col items-center justify-start">
  <app-vca-title></app-vca-title>
  <span class="w-full h-px bg-slate-100 my-5"></span>
  <div class="flex flex-col w-full md:w-4/5 lg:3/5 xl:w-1/2">
    <div class="flex flex-row justify-between mb-3">
      <div class="flex flex-row items-center gap-x-3 self-start">
        <app-add-button link="/pickup" title="Back"></app-add-button>
        <span class="font-thin text-sm text-white">My portfolio</span>
      </div>
      <app-config-options [domainData]=domainData class="flex flex-row"></app-config-options>
    </div>
    <div class="flex flex-row justify-between py-1">
      <div class="size-24 bg-[#1D2034] flex flex-col justify-around items-center">
        <span class="text-white font-thin text-xs">Total hits</span>
        <span class="text-white font-semibold text-md">24</span>
      </div>
      <div class="size-24 bg-[#1D2034] flex flex-col justify-around items-center">
        <span class="text-white font-thin text-xs">Total hits</span>
        <span class="text-white font-semibold text-md">24</span>
      </div>
      <div class="size-24 bg-[#1D2034] flex flex-col justify-around items-center">
        <span class="text-white font-thin text-xs">Total hits</span>
        <span class="text-white font-semibold text-md">24</span>
      </div>
      <div class="size-24 bg-[#1D2034] flex flex-col justify-around items-center">
        <span class="text-white font-thin text-xs">Total hits</span>
        <span class="text-white font-semibold text-md">24</span>
      </div>
      <div class="size-24 bg-[#1D2034] flex flex-col justify-around items-center">
        <span class="text-white font-thin text-xs">Total hits</span>
        <span class="text-white font-semibold text-md">24</span>
      </div>
      <div class="size-24 bg-[#1D2034] flex flex-col justify-around items-center">
        <span class="text-white font-thin text-xs">Total hits</span>
        <span class="text-white font-semibold text-md">24</span>
      </div>
    </div>
    <div class="bg-black w-full h-72"></div>
  </div>
</main>
