<div class="w-full md:w-3/4 mx-auto flex flex-col justify-start items-center transition-all">
    <h2 class="py-8 text-xl md:text-3xl text-white self-center">
        VISITOR COUNTER <span class="drop-shadow-[0_0_2px_gray] text-black font-extrabold">API_</span>
    </h2>
    <div class="w-full flex flex-col justify-start items-start self-center bg-gray-800 p-6 rounded-lg shadow-xl overflow-x-hidden">
        <p class="bg-opacity-60 text-white text-left text-md md:text-lg font-semibold border-b border-b-slate-400 mb-4 pb-2">API DETAILS</p>

        <div class="text-white text-left flex flex-col " *ngIf="domainData">
            <h3 class="text-md md:text-lg font-bold">Endpoint</h3>
            <p class="mt-2 text-sm bg-gray-700 gap-x-6 p-2 rounded-lg shadow-inner flex flex-row flex-wrap justify-start max-w-max">
                <span class="text-slate-200 my-auto">/hit/{{domainData[0].domainId}}/{{domainData[2]}}</span>
                <button class="bg-blue-500 hover:bg-blue-600 text-white text-xs font-bold py-2 px-3 rounded-lg shadow-md"
                        (click)="clipboard('https://vcaserver.onrender.com/hit/'+domainData[0].domainId+'/'+domainData[2], 'Counter endpoint copied!')">
                    Copy endpoint.
                </button>
            </p>
            <p class="mt-2 text-sm bg-gray-700 gap-x-6 p-2 rounded-lg shadow-inner flex flex-row flex-wrap justify-start max-w-max">
                <span class="text-slate-200 my-auto self-start">/stats/{{domainData[0].domainId}}/{{domainData[2]}}</span>
                <button class="bg-blue-500 hover:bg-blue-600 text-white text-xs font-bold py-2 px-3 rounded-lg shadow-md"
                        (click)="clipboard('https://vcaserver.onrender.com/stats/'+domainData[0].domainId+'/'+domainData[2], 'Stats endpoint copied!')">
                    Copy endpoint.
                </button>
            </p>
            <h3 class="mt-6 text-md md:text-lg font-bold">API Key</h3>
            <p class="mt-2 text-sm bg-gray-700 gap-x-6 p-2 rounded-lg shadow-inner flex flex-row flex-wrap justify-start max-w-max">
                <span class="text-slate-200 my-auto">{{domainData[1].keyCode}}</span>
                <button class="bg-blue-500 hover:bg-blue-600 text-white text-xs font-bold py-2 px-3 rounded-lg shadow-md" (click)="clipboard(domainData[1].keyCode, 'API KEY copied!')">Copy API KEY
                </button>
            </p>

            <h3 class="mt-6 text-md md:text-lg font-bold">Methods</h3>
            <ul class="mt-2 list-disc list-inside">
                <li class="text-sm">GET to /hit - Register a visit</li>
                <li class="text-sm">GET to /stats - Retrieve statistics</li>
            </ul>
            <h3 class="mt-6 text-md md:text-lg font-bold">Privacy</h3>
            <div class="mt-4 text-xs text-gray-400">
                <p>To protect the counter you can PAUSE it or use API KEY.</p>
            </div>
        </div>
    </div>
</div>
