<main class="h-dvh w-full flex flex-col justify-center items-center">
    <app-vca-title></app-vca-title>
    <span class="w-full h-px bg-slate-100 my-5"></span>

    <div class="w-full h-80 mt-16 flex flex-col justify-center items-center gap-y-5">
        <app-domain-card></app-domain-card>
        <span class="w-full h-px bg-white"></span>
        <app-domain-card></app-domain-card>
        <div class="mx-24 grid place-content-center">
            <app-add-button class="rounded-full bg-gray-300 bg-opacity-30 p-3 cursor-pointer"></app-add-button>
            
        </div>
    </div>
</main>
