@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains_Mono";
    src: url('./fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf');
}

*{
    font-family: 'JetBrains_Mono';
}