<div class="flex flex-row bg-slate-400 bg-opacity-15">
  <div class="size-14 grid place-items-center">
    <span class="text-center text-sm text-white font-extralight">{{domain.totalhits || 0}} 🎯</span>
    <span class="text-center text-sm text-white font-extralight">{{domain.differentvisitors || 0}} 🧍</span>
  </div>
  <div class="flex flex-col grow border-black drop-shadow-sm bg-sky-950 bg-opacity-20">
    <button class="relative bg-sky-950 flex flex-row grow-[2] justify-center items-center transition-all hover:bg-blue-900" (click)="goToDomain()">
      <span class="font-light text-xs text-slate-300 py-2 leading-none transition-all hover:text-white">{{domain.domainName}}</span>
      <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-5 absolute right-10 text-white"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
    </button>
    <a href={{domain.domainWebsite}} target="_blank" class="flex flex-row grow justify-center items-center hover:text-slate-100 text-opacity-90 drop-shadow-md  hover:bg-sky-800 hover:bg-opacity-50 leading-none">
      <span class="font-extralight text-xs text-slate-200 ">{{domain.domainWebsite}}</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link absolute right-10 size-5" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
        <path d="M11 13l9 -9" />
        <path d="M15 4h5v5" />
      </svg>
    </a>  
  </div>
  
</div>

<!-- <div class="flex flex-col items-stretch bg-slate-400 bg-opacity-15">
  <div class="flex flex-row items-stretch justify-evenly  border-black drop-shadow-sm bg-sky-950 bg-opacity-20">
    <button class="relative bg-sky-950 flex flex-row grow-[2] justify-center items-center">
      <span class="font-light text-xs text-slate-300 py-2 leading-none">My website</span>
        <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-5 absolute right-10 text-white"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
    </button>
    <a href="https://website.com" target="_blank" class="flex flex-row justify-center items-center flex-grow hover:text-slate-100 text-opacity-90 drop-shadow-md  hover:bg-sky-800 hover:bg-opacity-50 leading-none">
      <span class="font-extralight text-xs text-slate-200 ">https://website.com</span>
    </a>  
  </div>
  <div class="flex flex-col justify-center px-5 border-l border-b border-x-slate-700 border-y-black">
    <span class="text-sm text-white font-extralight">48 hits</span>
  </div>
</div> -->
<!-- <div
  class="w-56 h-full flex flex-col justify-between bg-[#0D0D0D] bg-opacity-25 rounded-sm"
>
  <div class="bg-[#272727]">
    <p class="text-center text-white text-xs py-3 font-thin leading-none">My portfolio</p>
  </div>
  <div class="space-y-8 px-2">
    <div class="flex flex-row items-center justify-between">
      <p class="bg-[#242131] border-b border-b-black font-thin text-center text-white text-xs py-2 px-6 leading-none">
        https://website.com
      </p>
      <button class="p-1 bg-slate-800 rounded-sm">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy size-3" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
          <path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" />
        </svg>
      </button>
    </div>
    <div class="flex flex-col gap-y-1">d
      <div class="flex flex-row justify-between">
        <p class="text-white font-thin">24</p>
        <p class="text-white font-thin">Total hits</p>
      </div>
      <div class="flex flex-row justify-between">
        <p class="text-white font-thin">24</p>
        <p class="text-white font-thin">Total hits</p>
      </div>
      <div class="flex flex-row justify-between">
        <p class="text-white font-thin">24</p>
        <p class="text-white font-thin">Total hits</p>
      </div>
      <div class="flex flex-row justify-between">
        <p class="text-white font-thin">24</p>
        <p class="text-white font-thin">Total hits</p>
      </div>
    </div>
    <div class="w-full grid place-items-center">
      <button class="bg-[#242131] text-xs font-thin text-white px-5 py-2 leading-none" (click)="goToDomain()">More stats</button>
    </div>
    
  </div>
  <button class="bg-[#FF2222] bg-opacity-20 w-full">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash size-5 my-2 mx-auto " width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M4 7l16 0" />
      <path d="M10 11l0 6" />
      <path d="M14 11l0 6" />
      <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
      <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
    </svg>
  </button>
</div>
 -->
